<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/top.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>京都観光レコメンド</title>
</head>
<body>
    <div class="header">
        <h1>京都府観光レコメンド</h1>

        <nav>
            <ol>
                <a href="https://muds.gdl.jp/s2022072/">TOP</a>
                <a href="https://muds.gdl.jp/s2022072/yorimiti">寄り道を探す</a>
                <a href="https://muds.gdl.jp/s2022072/route">最短ルートを探す</a>
            </ol>
        </nav>
    </div>

    <div class="description">
        <h2>京都府観光地レコメンドへようこそ</h2>
        
        <h3><a href="https://muds.gdl.jp/s2022072/yorimiti">寄り道を探す</a></h3>
        <p>スタート地点とゴール地点を指定することで、観光地間で一番近い観光地を提案します。</p>

        <h3><a href="https://muds.gdl.jp/s2022072/route">最短ルートを探す</a></h3>
        <p>観光地を複数指定することで、最も効率的な観光地の順番を提案します。</p>
    </div>

    
    <img src="https://photo53.com/img/kibunejinja10.jpg" alt="貴船神社の写真">
    <a href="https://photo53.com/" target="_blank">京都フリー写真素材</a>

</body>
</html>
</html>
